<div class="h-screen flex flex-col justify-center items-center text-center bg-customblue">
  <div class="bg-white p-8 rounded shadow-md w-full max-w-lg text-black">
    <%= render 'diagnosis_summary' %>
    <%= render 'similar_artists' %>
    <%= render 'voice_details' %>
    <%= render 'comparison_table' %>
    <%= render 'artist_difference_link' %>
    <canvas id="myChart"></canvas>
  </div>
</div>
