<div class="h-screen flex flex-col justify-center items-center text-center bg-customblue">
  <div class="bg-white p-8 rounded shadow-md w-full max-w-sm text-black">
    <%= render 'diagnosis/diagonsis_header' %>
    <%= render 'diagnosis/song_select_form' %>
    <%= render 'diagnosis/lyrics_display' %>
    <%= render 'diagnosis/audio_controls' %>
    <%= render 'diagnosis/upload_audio_form' %>
  </div>
</div>
