<div class="h-screen flex flex-col justify-center items-center bg-customblue text-black">
  <div class="bg-white p-8 rounded shadow-md w-full max-w-sm">
    <!-- ログインのタイトル -->
    <h2 class="text-2xl font-semibold mb-6 text-center">新規登録</h2>

    <!-- ログインフォーム -->
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      
      <!-- ユーザー名フィールド -->
      <div class="mb-4 text-left text-white">
        <%= f.label :name, class: "text-sm font-medium text-gray-700" %>
        <%= f.text_field :name, autofocus: true, class: "block w-full px-3 py-2 rounded-md shadow-sm sm:text-sm" %>
      </div>

      <!-- パスワードフィールド -->
      <div class="mb-4 text-left text-white">
        <%= f.label :password, class: "block text-sm font-medium text-gray-700" %>
        <%= f.password_field :password, id: "passwordField", autocomplete: "current-password", class: "block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 sm:text-sm" %>
      </div>

      <!-- パスワード表示/非表示のチェックボックス -->
      <div class="mt-2">
        <input type="checkbox" id="showPasswordCheckbox" class="mr-2">
        <label for="showPasswordCheckbox" class="text-sm text-gray-600">パスワードを表示</label>
      </div>

      <!-- Remember me チェックボックス -->
      <% if devise_mapping.rememberable? %>
        <div class="flex items-center mb-4 text-left">
          <%= f.check_box :remember_me, class: "h-4 w-4 text-yellow-600 focus:ring-yellow-500 border-gray-300 rounded" %>
          <label for="remember_me" class="ml-2 block text-sm text-gray-900">パスワードを記憶</label>
        </div>
      <% end %>

      <!-- ログインボタン -->
      <div>
        <%= f.submit "新規登録", class: "w-full bg-customred text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50" %>
      </div>
    <% end %>

    <!-- リンク: 新規登録やパスワード忘れなど -->
    <div class="mt-6">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

<%= javascript_include_tag "password_toggle", type: "module" %>

