<!-- app/views/musicquiz/genre.html.erb -->
<div class="h-screen flex flex-col justify-center items-center text-center bg-customblue">
  <div class="bg-white p-8 rounded shadow-md text-black">
    <h1 class="text-2xl font-semibold mb-6" style="font-size: calc(1rem + 1vw);">ジャンルを選んでください</h1>

    <div class="flex flex-wrap justify-around mb-4">
      <a class="bg-blue-500 text-white py-2 px-4 rounded mx-1 text-center" href="<%= genre_play_jpop_path %>" aria-label="J-Popを選択">J-Pop</a>
      <a class="bg-blue-500 text-white py-2 px-4 rounded mx-1 text-center" href="<%= genre_play_kpop_path %>" aria-label="K-Popを選択">K-Pop</a>
      <a class="bg-blue-500 text-white py-2 px-4 rounded mx-1 text-center" href="<%= genre_play_westernmusic_path %>" aria-label="洋楽を選択">洋楽</a>
      <a class="bg-blue-500 text-white py-2 px-4 rounded mx-1 text-center" href="<%= genre_play_hiphop_path %>" aria-label="Hip Hopを選択">Hip Hop</a>
      <a class="bg-blue-500 text-white py-2 px-4 rounded mx-1 text-center" href="<%= genre_play_anime_path %>" aria-label="アニメ/特撮/ディズニーを選択">アニメ/特撮/ディズニー</a>
    </div>
  </div>
</div>
