<div class="h-screen flex flex-col justify-center items-center text-center bg-customblue text-black">
  <div class="bg-white p-8 rounded-xl shadow-md max-w-lg m-10">
    <%= render 'introduce/introduce_header' %>
    <%= render 'introduce/app_description' %>
    <%= render 'introduce/features' %>
    <%= render 'introduce/usage' %>
    <%= render 'introduce/contact' %>
  </div>
</div>
